.footer {
  max-width: $width-center;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $black;
  margin-top: 0;

  @media (max-width: $mobile-width) {
    text-align: center;
    margin-top: 30px;
  }
}

.footer__title-corporate {
  @media (max-width: $tablet-width) {
    margin-top: 30px;
    text-align: center;
  }
}

.footer__list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    justify-content: center;
  }
}

.footer__travel-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black-05;

  @media (max-width: $mobile-width) {
    text-align: center;
    margin-bottom: 15px;
  }
}

.footer__travel-list li {
  margin-bottom: 10px;
}

.footer__contacts {
  border-right: 1px solid $border-contact-block;
  border-left: 1px solid $border-contact-block;
  padding-left: 90px;
  padding-right: 27px;

  @media (max-width: $tablet-width) {
    border-right: none;
    margin-left: 32px;
    padding-left: 47px;
    padding-right: 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin: 0;
    border-left: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $border-contact-block;
  }
}

.footer__contacts-email {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $red;
  padding-left: 40px;
  margin-bottom: 20px;

  &--no-desktop {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  &--desktop {
    display: block;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    top: -3px;
    left: 0;
    background-image: url("../img/footer-email.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    display: inline-block;
    width: 99px;
    margin: 0 auto;
    padding-left: 26px;
    margin-bottom: 12px;
  }
}

.footer__contacts-tel {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $red;
  padding-left: 40px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-image: url("../img/footer-phone.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    padding-left: 26px;
  }
}

.footer__corporate-travel {
  padding-left: 45px;
  padding-right: 26px;

  @media (max-width: $tablet-width) {
    grid-area: 2 / 1 / 3 / 3;
    border-top: 1px solid $border-contact-block;
    margin-top: 9px;
    padding-top: 28px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer__corporate-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $black-05;

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}
