.price {
  max-width: $width-center;
  margin: -266px auto 138px;
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
  column-gap: 30px;

  @media (max-width: $tablet-width) {
    margin: 0;
    column-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 125px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 23px;
  }
}

.price__wrapper {
  padding: 70px 0 10px 17%;
  grid-area: 1 / 3 / 2 / 4;

  @media (max-width: $tablet-width) {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0;
    text-align: center;
  }
}

.price__block {
  border: 3px solid $dark-03;
  border-radius: 6px;
  padding: 30px;
  min-height: 672px;
  min-width: 336px;
  display: flex;
  flex-direction: column;

  &:hover {
    border: 3px solid $red;
  }

  &:hover .price__title {
    color: $red;
  }

  &:hover .price__item::before {
    background-position: 4px 10px;
  }

  &:hover .price__description::after {
    background-color: $red;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    min-width: 288px;
    min-height: 629px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (max-width: $mobile-width) {
    min-height: 614px;
    margin-bottom: 30px;
  }
}

.price__price {
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $dark;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $red;

    @media (max-width: $tablet-width) {
      position: static;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: $dark;
    margin-top: 124px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    margin-top: 47px;
    margin-bottom: 19px;
  }
}

.price__description-offer {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $dark-07;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    text-align: center;
    max-width: 725px;
    margin: 0 auto;
    margin-bottom: 17px;
  }
}

.price__call {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $black;
  padding-left: 22px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    padding-left: 0;
    margin-bottom: 15px;
  }
}

.price__call-tel {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-left: 8%;
  text-decoration: none;
  color: $black-base;
  margin-bottom: 18px;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -11px;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone-sprite.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (max-width: $tablet-width) {
      position: static;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    display: block;
    text-align: center;
    color: $red;
    text-decoration: underline;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.price__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.3px;
  color: $black-07;
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.price__title span:last-child {
  font-weight: 700;

  @media (max-width: $tablet-width) {
    font-size: 25px;
    line-height: 34px;
  }
}

.price__description {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $dark;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $dark-03;

    @media (max-width: $tablet-width) {
      right: 0;
      width: 85%;
      margin: 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 30px;
  }
}

.price__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $dark;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    padding: 20px;
    padding-right: 15px;
  }
}

.price__item {
  padding-left: 30px;
  position: relative;
  margin-bottom: 14px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 25px;
    background-image: url("../img/price-check.svg");
    background-repeat: no-repeat;
    background-position: 4px -13px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.price__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  background-color: $red;
  width: 100%;
  min-height: 75px;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }

  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    min-height: 50px;
  }
}
