// Colors

$red: #fe7865;
$dark: #2c2e3f;
$orange: #f17d4b;
$black: #141517;
$white: #ffffff;
$black-base: #000000;
$modal-text: #48494d;
$modal-background: #fbf8f8;
$border-contact-block:#d7d9df;
$black-07: rgba(20, 21, 23, 0.7);
$black-05: rgba(20, 21, 23, 0.5);
$dark-07: rgba(44, 46, 63, 0.7);
$dark-03: rgba(44, 46, 63, 0.3);
$shadow: rgba(41, 54, 66, 0.1);

// Font

$font-family--main: "Montserrat", "Arial", sans-serif;

// center
$width-center: 1170px;

// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;

//resolution

$dppx: 2dppx;
$dpi: 192dpi;
